{%- block unit -%}
[Unit]
Wants=network-online.target
After=network-online.target
{% endblock  %}

{%- block service -%}
[Service]
Type=notify
LimitNOFILE=40000
TimeoutStartSec=0
TasksMax=infinity
OOMScoreAdjust=-999
RestartSec=5s
Restart=always
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
{% endblock %}

{%- block install -%}
[Install]
WantedBy=multi-user.target
{% endblock %}
