{% set host_name = salt['pillar.get']('host') %}
{% set fqdn = [ salt['pillar.get']('host') , ".PRD.ZONE" ] | join %}
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.0.1 {{ host_name }} {{ fqdn }}
