/////////////////////////////////////////////////////////////
/  {{ salt['pillar.get']('server_type') }}                  /
/  {{ salt['pillar.get']('message') }}                 /
/////////////////////////////////////////////////////////////