/////////////////////////////////////////////////////////////
/  {{ salt['pillar.get']('motd.deemed') }}                  /
/  {{ salt['pillar.get']('motd.message') }}                 /
/////////////////////////////////////////////////////////////